
*{
    /*border: solid 1px;*/
    
    background-color: #EEE;
}
nav{
    margin-left: 50px;
}


#top_container{
    margin-left: 50px;
    margin-bottom: 10px;
    padding-bottom:10px ;
}

#program_list{
    margin-left: 50px;
    margin-top: 10px;
}

table{
    border: solid 1px #666;
    width: 800px;
    /*margin-left:50px ;*/
}
table tr{
    border: solid 1px #666;
}
.table1 td{
    border: solid 1px #666;
    width: 80px;
}